#board {
    display: grid;
    grid-template-columns: repeat(8, 8vh);
    grid-template-rows: repeat(8, 8vh);
    justify-content: center;
    width: 64vh;
    height: 64vh;
    margin: auto;
    aspect-ratio: 1/1;
}