// FONTS
@mixin font-montserrat($size, $weight, $style) {
  font-family: "Montserrat";
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

h1 { @include font-montserrat(97px, 700, normal); }

h2 { @include font-montserrat(61px, 600, normal); }

h3 { @include font-montserrat(48px, 500, normal); }

h4 { @include font-montserrat(34px, 400, normal); }

h5 { @include font-montserrat(24px, 300, normal); }

h6 { @include font-montserrat(20px, 200, normal); }

body { @include font-montserrat(18px, 400, normal); }

button { @include font-montserrat(16px, bold, normal); }

// FOR REGISTER PAGE

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}