// GLOBAL FONT
@mixin font-montserrat($size, $weight, $style) {
  font-family: "Montserrat";
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

// COLORS
$primary-color: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;
$secondary-color: #d32f2f;
$secondary-light: #ff6659;
$secondary-dark: #9a0007;

// GLOBAL STYLES
h1 { 
  @include font-montserrat(97px, 700, normal); 
  margin: auto;
  padding: 4rem;
}

h2 { 
  @include font-montserrat(61px, 600, normal); 
  margin: auto;
  padding: 4rem;
}

h3 { 
  @include font-montserrat(48px, 500, normal); 
  margin: auto;
  padding: 4rem;
}

h4 { 
  @include font-montserrat(34px, 400, normal); 
  margin: auto;
  padding: 4rem;
}

h5 { 
  @include font-montserrat(24px, 300, normal); 
  margin: auto;
  padding: 4rem;
}

h6 { 
  @include font-montserrat(20px, 200, normal); 
  margin: auto;
  padding: 4rem;
}

body { 
  @include font-montserrat(18px, 400, normal);
  text-align: center;
  margin: auto;
  padding: auto; 
  min-height: 100vh;
  position: relative;
}

.content-wrap {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

a {
  @include font-montserrat(18px, 400, normal);
  color: black;
  text-decoration: none;
}
a:hover {
  color: $secondary-color;
}

p {
  @include font-montserrat(18px, 400, normal);
  color: black;
}

.subtitle {
  @include font-montserrat(14px, 300, normal);
  color: black;
}

li {
  @include font-montserrat(18px, bold, normal)
}

input {
  @include font-montserrat(16px, 500, normal);
  text-align: left;
  margin: 0.5rem;
  padding: auto;
}

button { 
  @include font-montserrat(16px, bold, normal); 
  margin: 1.5rem;
  padding: 0.75rem 2rem 0.75rem 2rem;
  border-radius: 2rem;
  color: white;
  background-color: $primary-dark;
  transition: all .2s ease-in-out;
}
.small-button {
  @include font-montserrat(14px, bold, normal); 
  margin: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 2rem;
  color: white;
  background-color: $primary-dark;
  transition: all .2s ease-in-out;
}
.large-button {
  @include font-montserrat(20px, bold, normal); 
  margin: 2rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 2rem;
  color: white;
  background-color: $primary-dark;
  transition: all .2s ease-in-out;
}
button:hover, .small-button:hover, .large-button:hover {
  color: $primary-dark;
  background-color: $secondary-color;
  scale: (1.15);
}

//Style rules for flex container USE GLOBALLY
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  margin: 0.25rem;
} 

//Style rules for tables USE GLOBALLY
.table {
  width: 60%;
  margin: auto;
  border: 1px solid black;
}

.column {
  padding: 4px;
  border: 1px solid black;
}

.row {
  padding: 4px;
  border: 1px solid black;
}

.even-row {
  border: 1px solid black;
  background-color: $secondary-color;;
}
.even-row a:hover {
  color: white;
}

.odd-row {
  border: 1px solid black;
  background-color: $primary-dark;
  color: white;
}
.odd-row a {
  color: white;
}
.odd-row a:hover {
  color: $secondary-color;
}

.cell {
  padding: 4px;
  border: 1px solid black;
}
