// GLOBAL FONT
@mixin font-montserrat($size, $weight, $style) {
  font-family: "Montserrat";
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

// COLORS
$primary-color: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;
$secondary-color: #d32f2f;
$secondary-light: #ff6659;
$secondary-dark: #9a0007;

// GLOBAL STYLES
h1 { 
  @include font-montserrat(97px, 700, normal); 
  margin: auto;
  padding: 4rem;
}

h2 { 
  @include font-montserrat(61px, 600, normal); 
  margin: auto;
  padding: 4rem;
}

h3 { 
  @include font-montserrat(48px, 500, normal); 
  margin: auto;
  padding: 4rem;
}

h4 { 
  @include font-montserrat(34px, 400, normal); 
  margin: auto;
  padding: 4rem;
}

h5 { 
  @include font-montserrat(24px, 300, normal); 
  margin: auto;
  padding: 4rem;
}

h6 { 
  @include font-montserrat(20px, 200, normal); 
  margin: auto;
  padding: 4rem;
}

body { 
  @include font-montserrat(18px, 400, normal);
  text-align: center;
  margin: auto;
  padding: auto; 
  min-height: 100vh;
  position: relative;
}

.content-wrap {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

a {
  @include font-montserrat(18px, 400, normal);
  color: black;
}

p {
  @include font-montserrat(18px, 400, normal);
  color: black;
}

.subtitle {
  @include font-montserrat(14px, 300, normal);
  color: black;
}

input {
  @include font-montserrat(16px, 500, normal);
  text-align: left;
  margin: 0.5rem;
  padding: auto;
}

button { 
  @include font-montserrat(16px, bold, normal); 
  margin: 1.5rem;
  padding: 0.75rem 2rem 0.75rem 2rem;
  border-radius: 2rem;
  color: white;
  background-color: $primary-dark;
  transition: all .2s ease-in-out;
}
.small-button {
  @include font-montserrat(14px, bold, normal); 
  margin: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 2rem;
  color: white;
  background-color: $primary-dark;
  transition: all .2s ease-in-out;
}
button:hover, .small-button:hover {
  color: $primary-dark;
  background-color: $secondary-color;
  scale: (1.15);
}

.header {
  color: #000;
  background-color: $secondary-color;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  text-align: right;
  padding: 1rem;
  transition: all .2s ease-in-out;
  display: block;
}
.header a {
  text-decoration: none;
  padding: 1rem;
}
.header a:hover {
  color: white;
}
.header img {
  width: 7%;
  height: 7%;
  transition: all .2s ease-in-out;
}
.header img:hover {
  scale: (1.15);
}
.header-left {
  display: inline-block;
  width: 50%;
  text-align: left;
}
.header-right {
  display: inline-block;
  width: 50%;
  text-align: right;
  top: 100%;
  transform: translateY(-100%);
}

.footer {
  color: black;
  background-color: $secondary-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  padding: 0.5rem;
}
.footer-left {
  display: inline-block;
  width: 33%;
  text-align: left;
}
.footer-center {
  display: inline-block;
  width: 33%;
  text-align: center;
}
.footer-right {
  display: inline-block;
  width: 33%;
  text-align: right;
}

// FOR REGISTER PAGE
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}