.tile {
    display: flexbox;
    place-content: center;
}

.black-tile {
    background-color: rgb(23, 14, 14);
}

.red-tile {
    background-color: rgb(160, 45, 45);
}

.tile .checkers-piece {
    width: fill;
    height: fill;
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
}

.tile .checkers-piece:hover {
    cursor: grab;
}

.tile .checkers-piece:active {
    cursor: grabbing;
    width: 10%;
    height: 10%;
}