.tile {
    display: flexbox;
    place-content: center;
}

.black-tile {
    background-color: rgb(23, 14, 14);
}

.red-tile {
    background-color: rgb(160, 45, 45);
}

.tile .checkers-piece {
    width: 8vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8vh;
}

.tile .checkers-piece:hover {
    cursor: grab;
}

.tile .checkers-piece:active {
    cursor: grabbing;
}