.table-account {
    width: 60%;
    margin: auto;
    border: 0.5rem ridge black;
    border-radius: 2rem;
}

.table-header {
    width: 25%;
    padding: 4px;
    border-bottom: 0.25rem solid black;
    border-right: 0.25rem solid black;
    font-size: 1.5rem;
    font-weight: bold;
}

.table-header-last {
    width: 25%;
    padding: 4px;
    border-bottom: 0.25rem solid black;
    font-size: 1.5rem;
    font-weight: bold;
}

.table-cell-content {
    border-right: 0.25rem solid black;
    font-size: 2rem;
    font-weight: bold;
}

.table-cell-content-last {
    font-size: 2rem;
    font-weight: bold;
}