// COLORS
$primary-color: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;
$secondary-color: #d32f2f;
$secondary-light: #ff6659;
$secondary-dark: #9a0007;

.table-account {
    width: 60%;
    margin: auto;
    border: 0.5rem ridge black;
    border-radius: 2rem;
}

.table-header {
    width: 25%;
    padding: 4px;
    border-bottom: 0.25rem solid black;
    border-right: 0.25rem solid black;
    font-size: 1.5rem;
    font-weight: bold;
}

.table-header-last {
    width: 25%;
    padding: 4px;
    border-bottom: 0.25rem solid black;
    font-size: 1.5rem;
    font-weight: bold;
}

.table-cell-content {
    border-right: 0.25rem solid black;
    font-size: 2rem;
    font-weight: bold;
}

.table-cell-content-last {
    font-size: 2rem;
    font-weight: bold;
}

// FOR REGISTER PAGE
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: $primary-dark;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    width: 25%;
    margin: auto;
}
  
.instructions > svg {
margin-right: 0.25rem;
}

.offscreen {
position: absolute;
left: -9999px;
}

.hide {
display: none;
}

.valid {
color: limegreen;
margin-left: 0.25rem;
}

.invalid {
color: $secondary-light;
margin-left: 0.25rem;
}

.errmsg {
background-color: lightpink;
color: $secondary-light;
font-weight: bold;
padding: 0.5rem;
margin-bottom: 0.5rem;
}