.table-account {
    width: 60%;
    margin: auto;
    border: 1px ridge black;
}

.mmr-account {
    width: 25%;
    padding: 4px;
    border: 1px ridge black;
}

.winrate-account {
    width: 25%;
    padding: 4px;
    border: 1px ridge black;
}

.wins-account {
    width: 25%;
    padding: 4px;
    border: 1px ridge black;
}

.losses-account {
    width: 25%;
    padding: 4px;
    border: 1px ridge black;
}