// GLOBAL FONT
@mixin font-montserrat($size, $weight, $style) {
    font-family: "Montserrat";
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  };
  
// COLORS
$primary-color: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;
$secondary-color: #d32f2f;
$secondary-light: #ff6659;
$secondary-dark: #9a0007;

.footer {
color: black;
background-color: $secondary-color;
position: absolute;
bottom: 0;
width: 100%;
height: 4rem;
box-sizing: border-box;
padding: 0.5rem;
}
.footer-left {
display: inline-block;
width: 33%;
text-align: left;
}
.footer-center {
display: inline-block;
width: 33%;
text-align: center;
}
.footer-right {
display: inline-block;
width: 33%;
text-align: right;
}
