// COLORS
$primary-color: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;
$secondary-color: #d32f2f;
$secondary-light: #ff6659;
$secondary-dark: #9a0007;

.landing-page-list {
    text-align: left;
    width: 40%;
    margin: auto;
}

.landing-page img {
    width: 40rem;
    height: 40rem;
}
