.leaderboard-table {
    width: 60%;
    margin: auto;
    border: 1px ridge black;
}

.rank {
    width: 10%;
    padding: 4px;
    border: 1px ridge black;
}

.player {
    width: 50%;
    padding: 4px;
    border: 1px ridge black;
}

.mmr {
    width: 10%;
    padding: 4px;
    border: 1px ridge black;
}

.winrate {
    width: 10%;
    padding: 4px;
    border: 1px ridge black;
}

.wins {
    width: 10%;
    padding: 4px;
    border: 1px ridge black;
}

.losses {
    width: 10%;
    padding: 4px;
    border: 1px ridge black;
}