.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid red;
    transition: all .2s ease-in-out;
    //background-image: url("../../public/logo512.png");
}  

.flex-child:hover {
    background-color: black;
}